extends ./register

block error
    .error.container
        list
            li= error1
            li= error2
            li= error3
            li= error4
            li= error5
            li= error6
            li= error7
            li= error8
            li= error9
            li= error10